body{
  background-color: #99d6ff;
}
ul{
  background-color: #33ff33;

}
/* container holding the image and the text */
.container{
  position: relative;
  text-align: center;
  color: white;
}
/* centered text */
.centered{
  position: absolute;
  top: 27%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: 53px;
  font-style: italic;
  font-weight: lighter;
}

/* bottom right */
.bottom-right{
  position:absolute;
  bottom: 182px;
  right: 20px;
  font-size: 33px;

}

/* centered right */
.centered-right{
  position:absolute;
  bottom: 132px;
  right: 20px;
  font-size: 33px;
}

/* top right*/
.top-right{
  position: absolute;
  bottom: 30px;
  right: 20px;
  font-size: 33px;
}

/* lower right*/
.lower-right{
  position: absolute;
  bottom: 82px;
  right:20px;
  font-size: 33px;
}

/* upper right */
.upper-right{
  position: absolute;
  bottom: 232px;
  right: 20px;
  font-size: 33px;
}
